* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --blueColor: #4f7df3;
    --PaleBlue: #c2d3ff;
    --LightRed: #ff5263;
    --Gray: #969696;
    --VeryDarkBlue: #151f29;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}



.header{
    text-align: center;
    padding-top: 80px;
}

.header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--VeryDarkBlue);
    padding-bottom: 46px;
}

.header h1 span {
    color: var(--blueColor);
} 

.header h2 {
    font-size: 3rem;
    color: var(--Gray);
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 16px;
}

.header h2 span {
    color: var(--VeryDarkBlue);
    font-weight: bold;
}
.header p {
    font-size: 1.25rem;
    color: var(--VeryDarkBlue);
    font-weight: 300;
    padding-bottom: 46px;
}

.input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input input {
    border-radius: 28px;
    border:1px solid var(--blueColor) ;
    padding: 18px 36px;
    width: 420px;
    font-size: 1rem;
    outline: none;
}

.input input::placeholder {
    color: var(--PaleBlue);
    font-weight: 300;
}

.btn {
 color: white;
 background: var(--blueColor);
 border: none;
 white-space: nowrap;
 font-size: 1rem;
 font-weight: 600;
 border-radius: 28px;
 padding: 18px 63px;
 cursor: pointer;
 box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
 transition: .3s all;
}

.flex-social{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    margin-bottom: 25px;
}
.flex-social a{
    border: 1px solid rgba(76, 123, 243, 0.15);
    padding: 8px 12px;
    border-radius: 50%;
    transition: .3s all;
    color: var(--blueColor);
}

.footer p{
    color: var(--Gray);
    font-size: 0.75rem;
    margin-bottom: 50px;
}

main{
    margin-bottom: 70px;
    margin-top: 90px;
}

.btn:hover{
    opacity: 0.8;
}
.flex-social a:hover{
    background: var(--blueColor);
    color: white;
}

.div-input{
    width: 100%;
}

@media(max-width:768px){
    body{
        padding: 0 20px;
    }
    .header{
        width: 100%;
    }
    .header h1{
        font-size: 1.25rem;
    }
    .header h2{
        font-size: 1.375rem;
    }
    .header p{
        font-size: 0.75rem;
    }
    .input{
        flex-direction: column;
    }
    .btn{
        padding: 12px 63px;
        width: 100%;
        margin-top: 1rem;
    }
    .input input{
        width: 100%;
        padding: 10px 32px;

    }

}

.error{
    border: 1px solid #FF4343 !important;
  }

  .erroText{
    font-size: 12px;
    color: #FF4343;
    display: block;
    position: absolute;
    text-align: start;
    font-style: italic;
    margin-top: 8px;
    margin-left: 8px;
  }